.discord-fm{background-size:cover;background-position:50%;border:none;}
.discord-fm .channel-3YGMy1{opacity:0.5;display:inline-block;padding: 5px;border-radius:5px;background-color:rgba(24,25,28,.5);}
.discord-fm .channel-3YGMy1:hover{opacity:1;text-decoration:none;}
.dfm-icon {width: 48px;height: 48px;background:transparent no-repeat 50% 50%;background-size:48px 48px;background-image:url(https://widget.discord.fm/img/dfm.png);border-radius:50%;}
.dfm-icon:hover{background-color:rgba(24,25,28,.3);}
.dfm-lib{background-image:url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_library_music_white_48px.svg);}
.discord-fm.error{background:#f44!important;flex-direction:column;text-align:center;}
.discord-fm.error>*:not(:first-child){display:none;}
.discord-fm.error>*:first-child>a>div{background-image:url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_error_outline_white_48px.svg);}
.discord-fm.error>*:first-child>a>div:hover{background-color:transparent;}
.discord-fm.error>*:first-child>a{cursor:default;}
.discord-fm.error>*:first-child:after{content:'The bot doesn\'t seem to be in the channel!';display:block;font-size:20px;font-weight:bold;width:100%;height:100%;margin-bottom:5px;}
.discord-fm.error:after{content:'Consult to a Music Manager or a Developer!';color:#ccc;display:block;width:100%;height:100%;}
.discord-fm.afk{background:#444!important;flex-direction:column;}
.discord-fm.afk>*:not(:first-child){display:none;}
.discord-fm.afk>*:first-child>a>div{background-image:url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_priority_high_white_48px.svg);}
.discord-fm.afk>*:first-child>a>div:hover{background-color:transparent;}
.discord-fm.afk>*:first-child>a{cursor:default;}
.discord-fm.afk>*:first-child:after{content:'You are AFK in Discord.FM.';display:block;font-size:18px;font-weight:bold;width:100%;height:100%;margin-top:7px;}