:root {
    --bd-tes-offset: 30px;
    --bd-tes-border-offset: 1px;
    --bd-tes-height: 326px;
    --bd-tes-width: 344px;
    --bd-tes-preview-width: 256px;
    --bd-les-textarea-pad: 98px!important;
}
#bda-qem-telegram-container .icon-plus {
  width: 22px;
  height: 22px;
  background-image: url(/assets/99d227db4a23596956637210e624d79b.png);
  background-position: -220px -484px;
  background-size: 924px 682px;
  filter: grayscale(100%);
  margin: 11px 0 0 0; }
#bda-qem-telegram-container .icon-plus-cross {
  display: inherit;
  margin: 0;
  transform: rotate(45deg);
  filter: invert(100%) grayscale(100%); }
#bda-qem-telegram-container .icon-minus {
  width: 22px;
  height: 22px;
  background-image: url(/assets/99d227db4a23596956637210e624d79b.png);
  background-position: -242px -484px;
  background-size: 924px 682px;
  filter: grayscale(100%);
  margin: 11px 0 0 0; }
#bda-qem-telegram-container .icon-edit {
  display: inherit;
  width: inherit;
  height: inherit;
  background-image: url(/assets/99d227db4a23596956637210e624d79b.png);
  background-position: -528px -374px;
  background-size: 924px 682px;
  filter: grayscale(100%);
  transform: rotate(90deg) scale(0.8); }
#bda-qem-telegram-container .icon-triangle {
  width: 22px;
  height: 22px;
  background-image: url(/assets/99d227db4a23596956637210e624d79b.png);
  background-position: -858px -484px;
  background-size: 924px 682px;
  filter: hue-rotate(130deg);
  float: right;
  margin-right: 5px; }
#bda-qem-telegram-container .add-form {
  position: absolute;
  display: flex;
  bottom: 48px;
  width: calc(var(--bd-tes-width) - 45px);
  transition: opacity .1s ease-in-out .05s;
  background: inherit;
  padding: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-transform: uppercase; }
  #bda-qem-telegram-container .add-form .labels, #bda-qem-telegram-container .add-form .inputs {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    font-size: 12px;
    line-height: 17px; }
    #bda-qem-telegram-container .add-form .labels input::-webkit-input-placeholder, #bda-qem-telegram-container .add-form .inputs input::-webkit-input-placeholder {
      color: rgba(152, 170, 182, 0.5); }
    #bda-qem-telegram-container .add-form .labels input, #bda-qem-telegram-container .add-form .inputs input {
      border-bottom: solid 1px; }
    #bda-qem-telegram-container .add-form .labels #line-add-title {
      width: 100%;
      height: 16px;
      text-transform: unset; }
  #bda-qem-telegram-container .add-form .inputs {
    flex-grow: 1; }
  #bda-qem-telegram-container .add-form .line-add-button {
    top: 1px;
    width: 42px;
    height: auto;
    padding: 0px;
    border-radius: 3px;
    background-color: #98aab6; }
  .theme-dark #bda-qem-telegram-container .add-form .line-add-button {
    background-color: #555; }
  #bda-qem-telegram-container #telegram-status.bad {
    color: #e74c3c !important; }
  #bda-qem-telegram-container #telegram-status a {
    color: #3498db !important; }
  #bda-qem-telegram-container input#line-add-title {
    text-transform: initial; }
.popout.bda-qme-te-hidden #bda-qem-twitch, .popout.bda-qme-te-hidden #bda-qem-favourite {
  display: none; }
.popout.bda-qme-hidden.bda-qme-te-hidden #bda-qem {
  display: none; }
.popout.bda-qme-hidden.bda-qme-te-hidden #bda-qem-telegram-container {
  border-radius: 5px; }
#bda-qem button {
  box-shadow: #EFEFEF 1px 0 0 0; }
#bda-qem-twitch,
#bda-qem-favourite {
  border-radius: unset; }
#bda-qem-line {
  border-radius: 5px 0 0 0; }
.theme-dark #bda-qem {
  border-bottom: 1px solid #2b2b2b !important; }
  .theme-dark #bda-qem button {
    box-shadow: #2b2b2b 1px 0 0 0; }
.theme-dark #bda-qem-telegram-container {
  background-color: #36393E;
  border-color: #2b2b2b;
  color: #777; }
  .theme-dark #bda-qem-telegram-container .scroller::-webkit-scrollbar,
  .theme-dark #bda-qem-telegram-container .scroller::-webkit-scrollbar-track,
  .theme-dark #bda-qem-telegram-container .scroller::-webkit-scrollbar-track-piece {
    background-color: #42464D;
    border-color: #42464D; }
  .theme-dark #bda-qem-telegram-container .scroller::-webkit-scrollbar-thumb {
    border-color: #202020;
    background-color: #202020; }
  .theme-dark #bda-qem-telegram-container .preview-container .preview-wrapper {
    background-color: #36393E;
    border-color: #2b2b2b; }
  .theme-dark #bda-qem-telegram-container .confirm {
    background-color: rgba(35, 35, 35, 0.8); }
  .theme-dark #bda-qem-telegram-container .add-pack {
    opacity: 1; }
.popout.bda-qme-hidden.bda-qme-te-hidden #bda-qem-telegram-container {
  border-top-width: 1px; }
#bda-qem-telegram-container {
  border-radius: 5px;
  font-weight: 800;
  color: #98aab6;
  height: calc(var(--bd-tes-height) + var(--bd-tes-offset));
    width: var(--bd-tes-width);
  background-color: #fff;
  border: 1px solid rgba(191, 191, 191, 0.2); }
  #bda-qem-telegram-container .scroller-wrap {
    height: 100%; }
  #bda-qem-telegram-container .emote-menu-inner {
    padding: 5px 15px 48px 15px; }
  #bda-qem-telegram-container .line-pack-header {
    display: flex;
    color: #98aab6;
    height: 12px;
    font-size: 12px;
    padding: 12px 0 12px 0;
    text-transform: uppercase; }
  #bda-qem-telegram-container .emote-container, #bda-qem-telegram-container .emote-icon {
    width: 71px;
    height: 71px;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border: 3px solid transparent;
    border-radius: 10px;
    margin-left: -3px;
    margin-top: -3px; }
  #bda-qem-telegram-container .emote-icon {
      background-size: contain;
      background-position: 50% 50%;
      background-repeat: no-repeat; }
  #bda-qem-telegram-container .emote-container:hover {
    background-color: #777;
    border-color: #777; }
  #bda-qem-telegram-container .preview-container .preview-wrapper {
    position: absolute;
    width: var(--bd-tes-preview-width);
    height: calc(var(--bd-tes-height) + var(--bd-tes-offset));
    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(191, 191, 191, 0.2);
    border-radius: 5px 0 0 5px;
    box-shadow: -10px 0px 80px 0px rgba(0, 0, 0, 0.2);
    transform: translateX(calc(calc(var(--bd-tes-preview-width)+1)*-1)) translateY(calc(0px - var(--bd-tes-height) - var(--bd-tes-offset) - var(--bd-tes-border-offset)));
 }
  #bda-qem-telegram-container .categories-container {
    z-index: 2001;
    position: absolute;
    width: calc(var(--bd-tes-width) - 15px);
    bottom: 1px;
    overflow: hidden;
    margin-top: -44px;
    background-color: inherit;
    border-top: 1px solid rgba(0, 0, 0, 0.1); }
    #bda-qem-telegram-container .categories-container .categories-wrapper {
      clear: right;
      overflow: hidden;
    z-index: 2001;
      white-space: nowrap; }
      #bda-qem-telegram-container .categories-container .categories-wrapper .item:first-of-type {
        margin-left: 15px;
        margin-right: 0px; }
      #bda-qem-telegram-container .categories-container .categories-wrapper .item:nth-child(2) {
        margin-left: 0px; }
      #bda-qem-telegram-container .categories-container .categories-wrapper .item:hover {
        filter: grayscale(0%); }
      #bda-qem-telegram-container .categories-container .categories-wrapper .item {
        display: inline-block;
        box-sizing: border-box;
        cursor: pointer;
        width: 28px;
        height: 44px;
        margin-right: 4px;
        margin-left: 2.5px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        border-bottom: 3px solid transparent;
        filter: grayscale(100%);
        transition: filter .1s ease-in-out; }
  #bda-qem-telegram-container .visible {
    opacity: 1 !important; }
  #bda-qem-telegram-container .line-pack input {
    width: 100%; }
  .theme-dark #bda-qem-telegram-container input, .theme-dark #bda-qem-telegram-container .line-pack-header {
    color: #777 !important; }
  #bda-qem-telegram-container .line-pack .line-editbar:hover {
    opacity: 1; }
  #bda-qem-telegram-container .line-pack .line-editbar {
    float: right;
    display: flex;
    padding-top: 7px;
    opacity: 0;
    transition: opacity .1s ease-in-out; }
    #bda-qem-telegram-container .line-pack .line-editbar .item {
      display: inline-block;
      width: 22px;
      height: 22px;
      opacity: 0.5;
      transition: opacity .1s ease-in-out .05s; }
    #bda-qem-telegram-container .line-pack .line-editbar .item:hover {
      opacity: 1; }
  #bda-qem-telegram-container input:focus {
    box-shadow: 0px 2px 0px 0px;
    outline: none; }
  #bda-qem-telegram-container input {
    color: #98aab6;
    background-color: inherit;
    border: none;
    margin: 0;
    height: 12px;
    padding: 0px;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase; }
  #bda-qem-telegram-container .box {
    width: 100%;
    color: #98aab6;
    text-align: center;
    transform: translateY(250%); }
  #bda-qem-telegram-container .confirm {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    transition: opacity .1s ease-in-out .05s;
    z-index: 10; }
    #bda-qem-telegram-container .confirm .yes, #bda-qem-telegram-container .confirm .no {
      padding: 10px;
      text-transform: uppercase;
      cursor: pointer;
      color: rgba(152, 170, 182, 0.8);
      transition: color .1s ease-in-out .05s; }
    #bda-qem-telegram-container .confirm .yes:hover {
      color: #e74c3c; }
    #bda-qem-telegram-container .confirm .no:hover {
      color: #98aab6; }
  #bda-qem-telegram-container .add-pack {
    opacity: 0.5; }