.quicksave-icon-btn
{
    position: relative;
    z-index: 99;
    display: block;
    width: 24px;
    height: 24px;
    margin-bottom: -40px;
    margin-left: 0px;
    padding: 6px;
    cursor: pointer;
    transition: opacity .2s;
    opacity: 0;
    border-radius: 6px;
    background-color: rgba(51, 51, 51, .6);
}
.embed .quicksave-icon-btn {
	margin-bottom: -36px;
}
.attachment-image .quicksave-icon-btn{margin-top:5px;}
.quicksave-icon-btn::before
{
    position: absolute;
    width: 24px;
    height: 24px;
    content: ' ';
    background-image: url(https://my.mixtape.moe/uzlywa.png);
    background-repeat: no-repeat;
}
:-webkit-any(.embed, .attachment-image):hover .quicksave-icon-btn,
.quicksave-icon-btn.downloading,
.quicksave-icon-btn.finished,
.quicksave-icon-btn.qs-attachment
{
    opacity: .7;
}
.quicksave-icon-btn.qs-attachment{
    margin: 7.5px 7px 0;
}
.quicksave-icon-btn.qs-attachment:hover{
    opacity: 1;
}
:-webkit-any(.embed, .attachment-image):hover .quicksave-icon-btn:hover
{
    opacity: 1;
}
.quicksave-icon-btn.downloading::before
{
    animation: qs-spin 1s linear infinite;
    background-image: url('https://my.mixtape.moe/ooxtex.png');
}
.quicksave-icon-btn.finished::before
{
    background-image: url('https://my.mixtape.moe/oagzae.png');
}
@keyframes qs-spin
{
    100%
    {
        transform: rotate(360deg);
    }
}
.toast{
    position: absolute;
    z-index: 666666666666;
    min-width: 288px;
    padding: 24px 14px 18px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
    transition: transform .4s;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: white;
    font-size: 16px;
    border-radius: 2px;
    background-color: #323232;
    text-align: center;
    border-bottom: 6px #b92222 solid;
    box-shadow: 0 0 30px black;
}

.toast-show{
    transform: translateX(-50%) translateY(-15px);
}
.quicksave-icon-btn.qs-attachment+.msp-attachment{margin-left:0px}