.line-emotes-btn{
    position: absolute;
    top: 11.5px;
    right: 40px;
    max-height: 50px;
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.line-emotes-btn>div{
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    /*background-image: url(https://i-need.discord.cards/69a326.png);*/
    width: 22px;
    height: 22px;
    display: block;
    transition: transform 0.1s ease-in-out, opacity 0.1s ease-in-out, filter 0.1s ease-in-out;
    filter: grayscale(100%);
    opacity: 0.5;
}
.line-emotes-btn>div:hover,.line-emotes-btn>div.hovered{
    transform: scale(1.275);
    filter: none;
    opacity: 1;
}
.textAreaEnabled-2vOfh8{
    padding-right: var(--bd-les-textarea-pad);
}