.dblbadge{background-size:contain;background-position:50%!important;margin:0!important;transform:translateX(-2px);}
.badge-dblcertdev{background-image:url(https://discordbots.org/images/certifieddeveloper.png);}
.badge-dblcertbot{background-image:url(https://discordbots.org/images/certifiedbot.png);}
.badge-dbladmin{background-image:url(https://discordbots.org/images/adminbadge.png);}
.badge-dblmod{background-image:url(https://discordbots.org/images/modbadge.png);}
.badge-dblsupporter{background-image:url(https://discordbots.org/images/supporterbadge.png);}
.badge-dblartist{background-image:url(https://discordbots.org/images/artistbadge.png);}
.no-link{cursor:default!important;}
.with-background .header-2Lg0Oe {background-color: transparent!important}
.with-background .headerText-3tKBWq{background-color:rgba(255,255,255,0.2);width:110%;}
.with-background .headerText-3tKBWq:before{content:'';display:block;margin-top:-5px;position:absolute;width:250px;height:0;background-color:rgba(255,255,255,0.4);z-index:99;}
.with-background .headerText-3tKBWq>div{z-index:100;}
.with-background .headerInfo-Gkqcz9{border:5px solid transparent;background-color:rgba(255,255,255,0.2);background-size:cover;}
.with-background .nameTag-2n-N0D+.flex-lFgbSz { height: 16px; }
.with-background .actions{padding:0!important;transform:translateY(30px);}
.with-background .header-info-inner{background-color:transparent!important;}
.with-background.topSectionNormal-2LlRG1 .avatar-1BXaQj{z-index:101;}
.with-background .headerInfo-Gkqcz9 * { z-index: 101; }
.with-background .nameTag-2n-N0D,.with-background .headerInfo-Gkqcz9+button,.with-background .additionalActionsIcon-WiVlux,.with-background.topSectionNormal-2LlRG1 .avatar-1BXaQj,.with-background.topSectionPlaying-3jAH9b .avatar-1BXaQj { z-index: 101; position: relative; }
.with-background .headerInfo-Gkqcz9:after{z-index: 9;background-color:rgba(255,255,255,255.2);content:'';display:block;position:absolute;width:100%;height:52px;right:0;margin-top:-47px;}
.with-background .activityUserPopout-1nmgaw {background-color:rgba(255,255,255,0.2);}
.with-background .profileBadge-kI8nxa+.flex-lFgbSz{margin:0;}
.header-info{padding-top:0!important;transform:translateY(20px);}
.db-bot.actions{padding:0!important;transform:translateY(30px);}
.db-bot>*{padding:5px!important;height:auto!important;line-height:1!important;margin-right: 10px;margin-top:5px;}
.db-prefix strong{color:rgba(255,255,255,0.8)!important;font-family:Consolas,Liberation Mono,Menlo,Courier,monospace;padding:2px;background-color:rgba(0,0,0,0.3);border-radius:5px;}
.db-bot .btn+.btn{margin-left: 0px!important;}
.db-bot .btn:last-child{margin-right: 0px;}
.db-more .note{margin-top:-8px;}
.db-more a{display:inline-block;}
.db-more .btn:nth-child(odd){margin-left:8px;}
.db-more .btn,.db-more iframe{margin-top:8px;}