.hljs ol {
    list-style: none;
    counter-reset: linenumbers;
}

.hljs ol li {
    text-indent: -4ch;
    margin-left: 3.5ch;
    padding-left: 0.5ch;
    border-left: 1px solid rgba(0,0,0,0.2);
}

.hljs ol li::before {
    color: rgba(127,127,127,0.5);
    display: inline-block;
    width: 3ch;
    margin-right: 0.5ch;
    padding-right: 0.5ch;
    text-align: right;
    counter-increment: linenumbers;
    content: counter(linenumbers);
    -webkit-user-select: none;
    user-select: none;
}
