.message:not(.message-sending), .message-content:not(.message-sending), .image:not(.message-sending), .tooltip, .guild, .section, .context-menu, .friends-row, .channel, .user-settings-modal, .channel-voice-states, .selected:before, .markdown-modal, .icon-muted, .icon-deafened, .avatar-large:not(.message-sending), .empty-message, .popout-menu, .editable, .emoji-item, .quickswitcher, .avatar-small, .ui-guild-nsfw, .quickswitcher::after, .ready, .quote, .connection-status, .attribution, .containerDefault-7RImuF {
    animation: PikaDude 0.5s;
}

.user-popout, .emoji-picker, .popout, .option-popout, .ui-form-section {
    animation: PikaDude 0.2s;
}

.channel-members, .search-results-wrap {
    animation: PikaDude 1s;
}

.callout-backdrop {
    animation: Bidoof 0.5s;
}

@keyframes PikaDude {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes Bidoof {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.85;
    }
}