.dc-dashboard-channel .nameDefaultText-QoumjC{color:#b1b133;}
.dc-dashboard-channel .nameHoveredText-2FFqiz, .dc-dashboard-channel .nameSelectedText-32NDX5{color:yellow;}
.dc-dashboard-channel .contentSelectedText-3j5CXt{background-color:#717127!important;}
.dc-dashboard-channel .contentHoveredText-2HYGIY{background-color:#3e3e1c!important;}
.dc-dashboard-channel .content-2mSKOj .icon-3tVJnl{color:yellow;}
.dc-dashboard-channel .contentHoveredText-2HYGIY .icon-3tVJnl,.dc-dashboard-channel .icon-3dhTrw path,.dc-dashboard-channel .icon-3rMtHF path{color:#b1b133;fill:#b1b133;}
.dc-dashboard-channel .contentSelectedText-3j5CXt .icon-3dhTrw path,.dc-dashboard-channel .contentSelectedText-3j5CXt .icon-3rMtHF path{fill:yellow;}
.dc-flex+div+div{display:none;}
.dc-flex{position:relative;width:100%;}
.dc-flex>.scroller-wrap{height:100%;}
.dc-flex>.scroller-wrap>.scroller{padding:50px;}
.dc-flex .user-info-viewing{padding:15px;}
.dc-flex .user-info-viewing .ui-form-item button{float:right;}
.dc-flex .user-info-viewing .ui-form-item h1,.dc-flex .user-info-viewing .balance .view-body{display:inline-block;}
.dc-flex .user-info-viewing .balance .view-body:after{content:'';background-image:url('https://emojipedia-us.s3.amazonaws.com/cache/8e/ca/8ecaeec21d2d10fb84faa23f968ff890.png');background-size:contain;display:inline-block;width:15px;height:15px;transform:translate(8px,2px) scale(1.5);}
.dc-badge{background-size:contain;width:75px;height:75px;display:inline-block;}
.dc-badge .tooltip,.dc-card .tooltip{width:auto;display:none;}
.dc-badge:hover .tooltip,.dc-card:hover .tooltip{display:block;}
.theme-light .dc-flex .user-info-viewing{color:#4f545c;}
.theme-dark .dc-flex .message-group-blocked{background:#34373c;border-color:#2f3136;}
.dc-flex .dc-reload-stats .spinner-inner{position:absolute;right:110%;}
.dc-user-options{overflow:hidden;-webkit-animation: dc-user-options .5s ease-in-out;animation: dc-user-options .5s ease-in-out;padding:20px;}
@-webkit-keyframes dc-user-options {
    0% {height:0;padding:0px 20px;}
    100% {height:56px;padding:20px;}
}
@keyframes dc-user-options {
    0% {height:0;padding:0px 20px;}
    100% {height:56px;padding:20px;}
}
.dc-inv{overflow:hidden;-webkit-animation: dc-inv .5s ease-in-out;animation: dc-inv .5s ease-in-out;padding:20px;}
.dc-inv-inner{height:300px;}
@-webkit-keyframes dc-inv {
    0% {height:0;padding:0px 20px;}
    100% {height:300px;padding:20px;}
}
@keyframes dc-inv {
    0% {height:0;padding:0px 20px;}
    100% {height:300px;padding:20px;}
}
.dc-card {width:70px;display:inline-block;text-align:right;margin:5px;}
.dc-card img {width:70px;margin-bottom:-25px;}
.dc-card p {display:inline-block;background-color:rgba(0,0,0,0.6);padding:2px;border-radius:5px;margin:0;}