#charcounter{display:block;position:absolute;bottom:5px;right:5px;font-size:85%;opacity:.5;font-family:Consolas,Liberation Mono,Menlo,Courier,monospace;}
#charcounter.minor{color:#F1C40F}
#charcounter.warning{color:#FFA500}
#charcounter.danger{color:#FF4500}
#charcounter.limit{color:#FF0000}